$ui-control-font-family: Verdana;
$ui-control-background-color: #0b2e6b;
$ui-control-foreground-color: lighten($ui-control-background-color,5%);
$ui-control-font-color: white;
$ui-control-font-color-danger: #dd0a0a;
$ui-control-font-color-disabled: #a0a0a0;
$ui-control-text-size:1.0em;
$ui-control-heading-size:1.5em;
$ui-control-shadow-color:#030e20;

$ui-control-padding: 10px;
$ui-control-border-color: #002700;//#505050;
$ui-control-border-radius: 15px;
$ui-control-background-primary: #b1a91a;//#rgb(207, 0, 197);
$ui-control-background-secondary: #8f1323;//hsl(46, 100%, 41%);

$site-background-color-dark: #303030;
$site-background-color-light: #888888;
$site-front-color:white;
$site-primary-color:#ffb300;
$site-secondary-color:#1ffbb0;
$steps: 1 2 3 5 10 15 20 25;
$paddings: $steps;
$gaps: $steps;
$margins: $steps;
// Padding
@each $step in $steps {
    .pad-#{$step} {
        padding: #{$step}px;
    }
    .gap-#{$step} {
        gap: #{$step}px;
    }
    .mt-#{$step} {
        margin-top: #{$step}px;
    }
    .mb-#{$step} {
        margin-bottom: #{$step}px;
    }
    .ml-#{$step} {
        margin-left: #{$step}px;
    }
    .mr-#{$step} {
        margin-right: #{$step}px;
    }
}
@mixin ui-control-rounded{
    border-radius:$ui-control-border-radius;
    border:1px solid $ui-control-border-color;
}

@mixin invisible{
    visibility:hidden;
    display:none;
}
@mixin visible($display){
    visibility:visible;
    display:$display;
}